@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  --pale-violet: hsl(276, 100%, 81%);
  --moderate-violet: hsl(276, 55%, 52%);
  --desaturated-dark-violet: hsl(271, 15%, 43%);
  --grayish-blue: hsl(206, 6%, 79%);
  --very-dark-desaturated-violet: hsl(271, 36%, 24%);
  --dark-grayish-violet: hsl(270, 7%, 64%);

  --light-magenta: hsl(293, 100%, 63%);
  --light-violet: hsl(264, 100%, 61%);

  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 20%, 96%);
  --very-dark-desaturated-violet: hsl(271, 36%, 24%);
  --very-light-magenta: hsl(289, 100%, 72%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: 'Rubik', sans-serif;

  color: #fafafa;
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nice-background {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 40rem;
  width: 50vw;

  background: linear-gradient(
    240deg,
    var(--light-magenta),
    var(--light-violet)
  );
  z-index: -2;

  border-bottom-right-radius: 250px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 2rem;
}

/* phone-part */
.phone {
  max-width: 280px;
  background-color: var(--light-grayish-violet);

  border: 0.5rem solid var(--white);
  border-radius: 2rem;
}

.phone p {
  font-size: 0.7rem;
}

.phone img {
  max-width: 50px;
}

.phone .header {
  display: flex;
  background: linear-gradient(
    to left,
    var(--light-magenta),
    var(--light-violet)
  );
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}

.phone .header .user-box .avatar {
  max-width: 30px;
}
.phone .header .user-box p {
  display: block;
  color: var(--white);
}
.phone .header .user-box span {
  display: block;
}

.phone .header .user-box {
  display: flex;
}

.phone .header .user-box .avatar img {
  border-radius: 50%;
  width: 100%;
}

.phone .phone-body {
  padding: 0.75rem;
}
/* text-part */
.text-part {
  text-align: center;
}
h1 {
  color: var(--very-dark-desaturated-violet);
  margin: 3rem 0 1.5rem;
  font-size: 2.5rem;
  font-weight: 500;
}

p {
  color: var(--dark-grayish-violet);
  line-height: 1.6;
  font-size: 1.1rem;
}

.attribution {
  display: none;
}
