*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fafafa;
  height: 100vh;
  width: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.attribution {
  display: none;
}
